.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: center !important;
    border-bottom-style: solid;
}

.alert-secondary {
    color: #383d41;
    background-color: white;
    border-color: #d6d8db;
}

.mark, mark {
    padding: .2em;
    background-color: #ebebeb;
}