/*import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato&family=Roboto:wght@300&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Yanone+Kaffeesatz:wght@200;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Sacramento&display=swap');
:root {
    --light-gray: #2b3032a1;
    --primary-color: #ffffff;
    --border: #2b303218;
    --text-color: #575757;
    --roboto: "Roboto", sans-serif;
    --gugi: "Gugi", cursive;
    --sofia: "Sofia", cursive;

}


.primary-color {
    color: var(--primary-color);
}

.bg-primary-color {
    background-color: var(--primary-color) !important;
}

.text-color {
    color: var(--text-color);
}

.font-roboto {
    font-family: var(--roboto);
}

.lightblue {
    color: lightblue;
}

/*header*/
header {
    background-color: var(--primary-color);
    font-family: var(--roboto);
}

header .site-title {
    font-family: 'Sacramento', cursive;
    font-weight: 700;
}

.container .dropdown-toggle,
.container .dropdown-item {
    font-size: 0.7em;
}

.dropdown-item:hover {
    background-color: var(--primary-color);
}

.header-links a {
    font-size: 0.9em;
    text-decoration: none;
    color: white;
}

